/* You can add global styles to this file, and also import other style files */

.testText {
	color: red;
}

body {
	background-color: #DADADA;
}
body > .grid {
	height: 100%;
}
.image {
	margin-top: -100px;
}
.column {
	max-width: 450px;
}